server:
  port: 8888

spring:
  application:
    name: api-gateway
  cloud:
    gateway: # ✅ đúng key
      routes:
        - id: user-manager
          uri: lb://user-manager
          predicates:
            - Path=/user-manager/**
          filters:
            - RewritePath=/user-manager/(?<segment>.*), /${segment}

eureka:
  instance:
    prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka
